{% extends 'base.html' %} {% load static %} {% load bootstrap4 %} {% block content %}
<div class="text-centre" id="port">
  <h1>Portfolio</h1>
</div>
<hr>

<div class="row">
  {% for prof in profile %}
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <!-- insertpicture -->
    <img src="{% static 'css/images/mypic.JPG'%}" class="responsive-img" alt="Image" id="image">

  </div>
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" id="about">

    <h3>{{prof.first_name}} {{prof.last_name}}</h3>
    <h5>{{prof.about}}</h5>
    {% endfor %}
  </div>
</div>
<hr>

<div class="row">
  <!-- skills,educ,jobexp,contacts -->
  <div class="w3-card" id="skills">
    <h4>Skills</h4>
    {% for skill in skills %}
    <li>{{skill.skill}}</li>
    {% endfor %}
    <hr>
  </div>
</div>


<div class="row">
  <div class="w3-card">
    <h4>Education</h4>
    {% for edu in education %}
    <li>{{edu.institution}}</li>
    {% endfor %}
    <hr>
  </div>
</div>

<div class="row">
  <h3>Projects</h3>
</div>
<div class="row">
  <h6>Below are some of the projects that I have done</h6>
</div>
<div class="row">

  {% for project in projects %}

  <div class="w3-card" id="projects">
    <br>
    <h4>{{project.name}}</h4>
    <img src="{{project.image.url }}" class="thumbnail" alt="image" width="700px;">
    <hr>
    <p>{{project.description}}</p>
    <a href="{{project.github_link}}">
      <button type="button">View-on_Github</button>
    </a>
    {% if project.live_link %}
    <a href="{{project.live_link}}">
      <button type="button">Live-link</button>
    </a>
    {% endif %}

  </div>

  {% endfor %}
</div>
<hr>
<div class="row">
  <div class="w3-card">
    <h4>Contacts</h4>
    {% for contact in contacts %}
    <li>
      <i class="fas fa-envelope fa-2x"></i> ephantusslogan@gmail.com</li>
    <li>
      <a href="https://github.com/ephantuskaranja">
        <i class="fab fa-github fa-3x"></i>
      </a>
    </li>
    {% endfor %}
  </div>
</div>


{% endblock %}